:root {
  --main-color: #ff9800;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  /* width: 1170px; */
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.clearfix {
  clear: both;
}
/* Start Setting Box */
.settings-box {
  position: fixed;
  left: -200px;
  top: 0;
  background-color: #fff;
  width: 203px;
  z-index: 1000;
  min-height: 100vh;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border: 3px solid var(--main-color);
}

.settings-box.open {
  left: 0;
}

.settings-box .toggle-settings {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: #fff;
  text-align: center;
  padding: 8px 0;
  width: 30px;
  cursor: pointer;
}

.settings-box .toggle-settings .icon {
  padding: 8px 0;
  width: 30px;
}

.settings-box .setting-container .option-box {
  padding: 20px;
  text-align: center;
  background-color: #e6e6e6;
  margin: 10px;
}

.settings-box .setting-container .option-box h4 {
  margin: 0;
  color: #666;
  font-size: 13px;
}

.settings-box .setting-container .option-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 10px 0 0;
}

.settings-box .setting-container .option-box .colors-list li {
  width: 24px;
  height: 24px;
  background-color: #333;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  border: 3px solid #e6e6e6;
}

.settings-box .setting-container .option-box .colors-list li .active {
  border: 3px solid #fff;
}

.settings-box .setting-container .option-box .colors-list li:first-child {
  background-color: #ff9800;
}
.settings-box .setting-container .option-box .colors-list li:nth-child(2) {
  background-color: #e91e63;
}

.settings-box .setting-container .option-box .colors-list li:nth-child(3) {
  background-color: #009688;
}

.settings-box .setting-container .option-box .colors-list li:nth-child(4) {
  background-color: #03a9f4;
}
.settings-box .setting-container .option-box .colors-list li:nth-child(5) {
  background-color: #4caf50;
}

.settings-box .option-box .yes,
.settings-box .option-box .no {
  width: 50px;
  background-color: var(--main-color);
  color: #fff;
  margin-top: 10px;
  display: inline-block;
  font-size: 12px;
  padding: 4px 10px;
  font-weight: bold;
  opacity: 0.5;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}
.settings-box .random-background span.active {
  opacity: 1;
}

.settings-box .bullets-option span.active {
  opacity: 1;
}

/* End Setting Box */

/* Start Navigation Bullets  */

.nav-bullets {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 40px;
  z-index: 1000;
}

.nav-bullets .bullets {
  width: 20px;
  height: 20px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  margin: 10px auto;
  position: relative;
}

.nav-bullets .bullets .tooltip {
  position: absolute;
  background-color: var(--main-color);
  width: 120px;
  color: #fff;
  padding: 1px 10px;
  right: 32px;
  top: -5px;
  text-align: center;
}

.nav-bullets .bullets .tooltip {
  position: absolute;
  background-color: var(--main-color);
  width: 120px;
  color: #fff;
  padding: 1px 10px;
  right: 32px;
  top: -5px;
  text-align: center;
  cursor: default;
  pointer-events: none;
  display: none;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  font-size: 18px;
  padding: 1px;
}

.nav-bullets .bullets:hover .tooltip {
  display: block;
}

.nav-bullets .bullets .tooltip::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent var(--main-color);
  height: 0;
  width: 3px;
  position: absolute;
  right: -22px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
/* End Navigation Bullets  */

/* Start Reset Options */

.settings-box .reset-options {
  background-color: #f00;
  color: #fff;
  border: none;
  width: 178px;
  display: block;
  font-weight: bold;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

/* End Reset Options  */

/* Start Landing Page */
.landing-page {
  min-height: 101vh;
  background-image: url(../imgs/01.jpg);
  background-size: cover;
}

.landing-page .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 101vh;
  left: 0;
  top: 0;
  z-index: 1;
}

.landing-page .container {
  position: relative;
  z-index: 1000;
}

header {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  padding: 10px;
}

header .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
}

header .links-container {
  width: 100%;
  margin-right: 30px;
  text-align: right;
}

header .links {
  list-style: none;
  padding-left: 0;
}

header .links li {
  display: inline-block;
  margin-left: 10px;
}

header .links li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

header .links li a:hover,
header .links li a.active {
  color: var(--main-color);
}

header .toggle-menu {
  background: none;
  border: none;
  width: 50px;
  cursor: pointer;
  margin-top: 15px;
  display: none;
  position: relative;
}
header .toggle-menu.menu-active::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  bottom: -15px;
  left: 15px;
}

header .toggle-menu:focus {
  outline: none;
}

header .toggle-menu span {
  background-color: #fff;
  display: block;
  height: 3px;
  margin-bottom: 5px;
}

.intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  z-index: 2;
  color: #fff;
  text-align: center;
  width: 95%;
}

.intro-text h1 {
  font-size: 34px;
  margin: 0 0 12px;
  width: 100%;
}

@media (max-width: 575px) {
  .intro-text h1 {
    font-size: 26px;
  }
}

.intro-text h1 span {
  color: var(--main-color);
}
.intro-text p {
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
}

@media (max-width: 991px) {
  header .links {
    display: none;
  }

  header .links.open {
    background-color: #fff;
    padding: 10px;
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    border-radius: 5px;
    text-align: left;
    /* margin: 10px 20px; */
  }

  header .links.open li {
    display: block;
    margin: 10px;
  }
  header .links.open li a {
    color: var(--main-color);
    font-weight: bold;
  }

  header .toggle-menu {
    display: inline-block;
  }
}

/* End Landing Page */

/* Start About Us */

.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

@media (max-width: 767px) {
  .about-us {
    display: block;
    text-align: center;
  }
  .about-us .info-box {
    padding: 0;
  }
}

.about-us .info-box {
  flex: 1;
  padding: 30px;
}

@media (max-width: 767px) {
  .about-us .info-box {
    padding: 0;
  }
}

.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 10px;
}

.about-us .info-box p {
  line-height: 1.8;
  color: #767676;
  margin: 0;
}

.about-us .image-box {
  flex: 1;
  text-align: center;
}

.about-us .image-box img {
  width: 270px;
}

/* End About Us */

/* Start Our Skill */
.our-skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.our-skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 10px;
  text-align: center;
}

.our-skills .skill-box {
  background-color: #fff;
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .our-skills .skill-box {
    display: block;
  }
}

.our-skills .skill-box .name {
  font-weight: bold;
  width: 100px;
  text-align: center;
  line-height: 30px;
}

@media (max-width: 767px) {
  .our-skills .skill-box .name {
    width: 100%;
    margin-bottom: 15px;
  }
}

.our-skills .skill-box .skill-progress {
  height: 30px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.our-skills .skill-box .skill-progress span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
}
/* End Our Skill */

/* Start Our Gallery */
.gallery {
  padding: 50px 0;
  text-align: center;
}

.gallery h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 10px;
  text-align: center;
}

.gallery .images-box {
  text-align: center;
}

.gallery .images-box img {
  width: 200px;
  padding: 3px;
  background-color: #666;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}

.popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1001;
}

.popup-box h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
  color: var(--main-color);
}

.popup-box img {
  max-width: 100%;
}

.close-button {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, Tahoma;
}

/* End Our Gallery */

/* Start Timme Line */
.timeline {
  padding: 50px 0;
  background-color: #eee;
}

.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}

.timeline .timeline-content::before {
  content: "";
  width: 2px;
  height: 100%;
  background: var(--main-color);
  position: absolute;
  left: 50%;
  margin: -1px;
  top: 0;
}

.timeline .timeline-content .year {
  margin: 20px auto;
  width: 50px;
  background-color: var(--main-color);
  position: relative;
  z-index: 2;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  text-align: center;
  padding: 2px 5px;
  font-weight: bold;
  color: #fff;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline .timeline-content .left,
  .timeline .timeline-content .right {
    width: 100%;
    margin-bottom: 20px;
  }
}

.timeline .timeline-content .left {
  float: left;
}

.timeline .timeline-content .left ::before {
  right: -35px;
}

.timeline .timeline-content .right {
  float: right;
}
.timeline .timeline-content .right::before {
  left: -35px;
}

.timeline .timeline-content .content {
  padding: 20px;
  background-color: #fff;
}

.timeline .timeline-content .content h3 {
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 10px;
}
.timeline .timeline-content .content p {
  color: #666;
  margin: 0;
  line-height: 1.6;
}

.timeline .timeline-content .left .content::after {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent var(--main-color);
  height: 0;
  width: 0;
  position: absolute;
  right: -20px;
  top: 20px;
}

.timeline .timeline-content .right .content::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent var(--main-color) transparent transparent;
  height: 0;
  width: 0;
  position: absolute;
  left: -20px;
  top: 20px;
}

@media (max-width: 767px) {
  .timeline .timeline-content .left .content::after,
  .timeline .timeline-content .right .content::before {
    display: none;
  }
}

/* End Timme Line */

/* Start Our Features */

.features {
  padding: 80px 0;
}

.features h2 {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin: 0 0 60px;
  color: var(--main-color);
}

.features .feat-box {
  width: calc(100% / 3);
  float: left;
  text-align: center;
  margin: 0 0 20px;
}

@media (max-width: 991px) {
  .features .feat-box {
    width: calc(100% / 2);
  }
}

@media (max-width: 575px) {
  .features .feat-box {
    width: 100%;
  }
}

.features .feat-box img {
  width: 96px;
}

.features .feat-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}

.features .feat-box h4::before {
  content: "";
  width: 80px;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  left: 60%;
  margin-left: -21%;
  bottom: -22px;
}

.features .feat-box p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.7;
  color: #706f6f;
}

/* End Our Features */

/* Start Testimonials */

.testimonials {
  position: relative;
  padding: 60px 0;
}

.testimonials::before {
  content: "";
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  height: 100%;
}

.testimonials::after {
  content: "";
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #333;
  height: 100%;
}

.testimonials h2 {
  font-weight: bold;
  text-align: left;
  font-size: 30px;
  margin: 0 0 60px;
  color: #fff;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .testimonials h2 {
    text-align: center;
  }
}

.testimonials .ts-box {
  position: relative;
  z-index: 2;
  width: calc(98% / 3);
  float: left;
  background-color: #fff;
  padding: 20px;
}

@media (max-width: 767px) {
  .testimonials .ts-box {
    width: 100%;
    margin-bottom: 15px;
    float: none;
  }
}

.testimonials .ts-box:not(:last-of-type) {
  margin-right: 1%;
}

.testimonials .ts-box > p {
  margin: 0 0 20px;
  line-height: 1.5;
  font-size: 18px;
  color: #707070;
  font-style: italic;
}

.testimonials .ts-box .person-info {
  overflow: hidden;
}

@media (max-width: 991px) {
  .testimonials .ts-box .person-info {
    text-align: center;
    overflow: visible;
  }
}

.testimonials .ts-box .person-info img {
  float: left;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 20px;
  width: 80px;
}

@media (max-width: 991px) {
  .testimonials .ts-box .person-info img {
    float: none;
    margin-right: 0;
  }
}

.testimonials .ts-box .person-info h4 {
  margin: 14px 0 10px;
}

.testimonials .ts-box .person-info p {
  color: #707070;
  font-weight: bold;
  margin: 0;
}

/* End Testimonials */

/* Start Contact Us */

.contact {
  min-height: 600px;
  background-image: url("../imgs/contact.png");
  background-size: cover;
  padding: 80px 0;
  position: relative;
}

.contact .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.contact .container {
  position: relative;
  z-index: 2;
}
.contact h2 {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin: 0 0 60px;
  color: var(--main-color);
}

.contact form {
  overflow: hidden;
  max-width: 800px;
  margin: auto;
}

.contact form .left {
  float: left;
  width: 49%;
}
.contact form .right {
  float: right;
  width: 49%;
}

@media (max-width: 767px) {
  .contact form .left,
  .contact form .right {
    float: none;
    width: 100%;
  }
}

.contact form input:not([type="submit"]),
.contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background-color: rgba(218, 218, 218, 0.19);
}

.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
  outline: 1px solid var(--main-color);
}

.contact form input {
  height: 40px;
}

.contact form textarea {
  height: 150px;
}

.contact form input[type="submit"] {
  padding: 10px;
  width: 100%;
  border-color: transparent;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder,
.contact form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

/* End Contact Us */

/* Start Footer  */

footer {
  background-color: #333;
  color: #eee;
  text-align: center;
}
footer p {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
}

/* End Footer  */

/* Start Grid System */

@media (min-width: 576px) {
  /* Small Devices => Landscape Phone*/
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  /* Medium devices */
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  /* Large devices */
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  /* X-Large devices */
  .container {
    max-width: 1140px;
  }
}

/* End Grid System */
